.component {
  display: flex;
  flex-direction: row;
}
.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  padding: 25px;
  padding-top: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.routes {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  /* align-items: center; */
  /* background-color: red; */
}
@media (max-width: 480px) {
  .main {
    margin: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
